#main-page .main-page-shape {
    background-color: var(--binding-color);
    clip-path: polygon(0 0, 45% 0, 60% 100%, 0% 100%);
    width: 100%;
    max-height: 100vh;
    z-index: 1;

    display: flex;
    justify-content: left;

    /* padding-left: 70px; */
}

#main-page h1 {
    border: none;
    text-align: left;
}

.page-content {
    padding-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 50px;
}

#main-page div:nth-child(2) {
    background-image: url("/images/book-library-with-open-textbook.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    #main-page .main-page-shape {
        clip-path: none;
        padding: 0;
        justify-content: center;
    }
    #main-page {
        max-height: auto;
    }

    #main-page .main-page-shape .page-content {
        width: 80%;
    }

    #main-page .page-content {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 140px;
        padding-left: 0;
    }

    #main-page div:nth-child(2) {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #main-page {
        max-height: auto;
    }
    #main-page .main-page-shape {
        height: 100%;
        padding-bottom: 100px;
        padding-top: 100px;
    }
}
